<%= form_with model: employer do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <% employer.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <br />
  <%= f.label(:account_number) %>
  <%= f.number_field(:account_number) %>
  <% employer.errors.full_messages_for(:account_number).each do |message| %>
    <div><%= message %></div>
  <% end %>
  <br />
  <%= f.submit %>
  <% end %>
  <br />
