<!DOCTYPE html>
<html>
  <head>
    <title>ENapsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class=nav-bar>
      <ul>
        <li><button class=menu-item><%= link_to "eNapsa App", root_path %></button></li>
        <li><button class=menu-item><%= link_to "Employers", employers_path %></button></li>
        <li><button class=menu-item><%= link_to "Monthly Reports", enapsa_monthly_report_new_path %></button></li>
      </ul> 
    </div>
    <%= yield %>
  </body>
</html>
